

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    /* border-radius: 20px; */
}

.city-selection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
   
}

.city-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid #ddd; /* Border for each city-option */
    width: 180px;
    height: 20px;
    gap: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.city-option.active {
    background-color: #5c2121;
    color: white;
}

.city-image {
    width: 30px;
}
/* .one{
    padding: 10px;
} */

.filters-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.filter-park{
    display: flex;
    width: 50%;
    flex-direction: column;
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 20px;
}
.filter-park-options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    gap: 10px;
}
.filter-park-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: 1px #ccc solid;
    border-radius: 3px;
    cursor: pointer;
    background-color: #fff;
    width: 100%;
}
.filter-park-btn.active{
    background-color: #dc635a;
    color: white;

}
.filter-date{
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 18px;
}
.input-group{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
.input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 20px;
    display: inline-block;
}
.date-inputs{
    width: 90%;
}
.filters-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    background-color: #f4f4f4;
}
.filter-visit {
    display: flex;
    padding: 20px;
    flex-direction: column;
    background-color: #f4f4f4;
    border-radius: 10px;
    margin-bottom: 20px;
}

.filter-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-top: 5px;
    padding: 5px;
}
.filter-btn-2 {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: 1px #ccc solid;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    height: 25px;
    background-color: #fff;
}
.filter-btn-2.active {
    background-color: #dc635a;
    color: white;
}

.input-group-2 {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    padding: 10px;
    width: 25%;
}

.input-group-2 input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 5px;
    height: 25px;
    display: inline-block;
}

.add-btn {
    margin-top: 50px;
    background-color: #5c2121;
    color: white;
    padding: 10px 20px;
    width: 100px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    height: 45px;
}

.calendar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 3px;
}

.calendar-nav {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.calendar-date {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    /* border-radius: 3px; */
}

.calendar-date.active {
    background-color: #dc635a;
    color: white;
    border-radius: 3px;
}

.data-table {
    margin-bottom: 20px;
}

.data-table table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

/* .data-table table thead tr{
    padding: 20px;
} */
.data-table th, .data-table td {
    padding: 10px;
    /* border: 1px solid #ddd; */
    text-align: center;
    color: #454e6b;
}

.contacts {
    margin-bottom: 20px;
}

.contacts table {
    width: 100%;
    border-collapse: collapse;
}

.contacts th, .contacts td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.contacts input[type="checkbox"] {
    cursor: pointer;
}
